Package: chdkptp
Version: 1.0-1
Architecture: amd64
Maintainer: Melvin y Tony
Installed-Size: 161
Depends: libc6 (>= 2.14), liblua5.2-0, libreadline6 (>= 6.0), libusb-0.1-4 (>= 2:0.1.12)
Section: misc
Priority: optional
Description: conectar a camara
 prueba para empaquetar
